/* Reset ساده */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* فونت و پس‌زمینه */

.footer-wrap {
  width: 100%;
  /* max-width: 1600px; */
  margin: 0 auto;
  padding: 80px 64px;
  background-color: #18181c;
}

.footer-top {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  /* padding: 40px 0; */
  flex-direction: column;
}

.brand {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.brand h2 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 20px;
  /* margin-bottom: 10px; */
}

/* ستون‌ها */
.cols {
  padding-top: 32px;
  display: flex;
  flex: 1;
  gap: 28px;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  border-top: 1px solid rgba(255, 255, 255, .15);
}

.col {
  min-width: 140px;
  flex: 1;
  flex-basis: 14%;
}

.col h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
  font-weight: 600;
}

.col ul {
  list-style: none;
  padding: 0px !important;
}

.col li {
  margin: 8px 0;
}

.col a {
  color: #bdbdbd;
  text-decoration: none;
  font-size: 14px;
}

.col a:hover {
  color: #fff;
}

/* متن حقوق و لینک‌های زیرین */
.footer-bottom {
  padding: 28px 0;
  color: #9e9e9e;
  font-size: 13px;
  position: relative;
}

.footer-bottom .copyright {
  max-width: 78%;
  display: inline-block;
}

.footer-links {
  display: inline-block;
  margin-top: 40px;
}

.footer-links a {
  margin-left: 16px;
  color: #9e9e9e;
  text-decoration: none;
}

.footer-links a:hover {
  color: #fff;
}

/* دکمه Back to top */
.back-to-top {
  position: absolute;
  right: 24px;
  top: 24px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 14px 14px;
  color: #eaeaea;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 10px;
  border: none;
}

.back-to-top.hidden {
  display: none;
}

@media (max-width: 1439.9px) {
  .col {
    flex-basis: 30%;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-direction: row;
}

.social svg {
  width: 24px;
  height: 24px;
  fill: #9e9e9e;
}