.newsbox{
    margin: 100px auto;
    background-color: rgb(16, 16, 20);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 75%;
    max-width: 1600px;
}
.newsbox .card{
    /* flex-basis: calc(33.33% - 20px); */
    /* height: 390px; */
    background-color: rgb(16, 16, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.newsbox .img{
    width: 100%;
    border-radius: 8px;
}
.newsbox .img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.newsbox .img img:hover{
    filter: brightness(1.2);
    transition: all 0.2s;
}
.newsbox .text{
    padding-top: 20px;
    width: 100%;
    background-color: rgb(16, 16, 20);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    min-height: 200px;
}
.newsbox .title{
    font-size: 20px;
    font-weight: 700;
    color: #fff;

}
.newsbox .desc{
    font-size: 14px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.65);
    min-height: 65px;
    margin-top: auto;
}
.newsbox .button{
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
    cursor: pointer;
      align-self: flex-start;
  margin-top: auto;

}

