@import url(./main-slider.css);
@import url(./cardslider.css);
@import url(./freegames.css);
@import url(./header.css);
@import url(./fotter.css);
@import url(./news.css);
@import url(./prices.css);
@import url(./colslider.css);
