.price-before{
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.65);
    text-decoration: line-through;
}
.price-before::after{
    content: "*";
    font-size: 14px;
    font-weight: 400;
    margin-left: 2px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.65);
    display: inline-block;
}
.price-after{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.price-discount{
    padding: 0px 8px;
    border-radius: 8px;
    background-color: rgb(38, 187, 255);
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}
.pricebox{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}